<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Website - About</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/app.css')}}"
    />
  </head>
  <body>
    <h1>David Malcolm</h1>
    <img
      src="{{url_for('static',filename='workpik.webp')}}"
      alt="meme of programming"
    />
    <p>
      The genius programmer, future land-owner, entrepenuer and all around great
      guy David Malcolm, has done his best and will continue to do his best in
      all aspects of life. From the concrete chopping blocks a digital garden
      shall be born with great ingenuity and thought.
    </p>
  </body>
</html>
